{
  "comments": false,
  "presets": [
    ["env", {
      "loose": true,
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma":"require('preact').h" }],
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
